package-lock.json
/.hg
/book/*
/db/*
/dump/*
/localization/*
/markups/*
/storage/*
/tools/*
/backend/node_modules/*
/react/node_modules/*
/transcoder/node_modules/*
/web/core/bower_components
.hgignore
/*.code-workspace
