<form name="documentForm">
	<div class="row">
		<div class="brick size1of5">Название</div>
		<div class="brick"><input type="text" class="wide" ng-model="item.title" ng-required="true"></div>
	</div>
	<div class="row">
		<div class="brick size1of5">Контент</div>
		<div class="brick">
			<text-editor ng-model="item.content" rows="20"></text-editor>
		</div>
	</div>
	<!--div class="row">
		<div class="brick size1of5"></div>
		<div class="brick"></div>
	</div>
	<div class="row">
		<div class="brick size1of5"></div>
		<div class="brick"></div>
	</div>
	<div class="row">
		<div class="brick size1of5"></div>
		<div class="brick"></div>
	</div -->
</form>
