<div class="project-header row">
	<div ng-click="processIconClick()" class="icon project-preview active" ng-if="project.preview.preview" ng-style="{height: project.preview.height / project.preview.width * 74, backgroundImage: 'url(data:image/jpg;base64,' + project.preview.preview + ')'}"></div>
	<div class="brick">
		<h1>
			<span ng-if="!project.preview.preview" class="project-icon active" ng-click="processIconClick()"></span>
			<text-edited ng-if="projectCtrl.state === 'app.projects-item'" edited ng-model="project.name" te-change="updateProjectName()"></text-edited>
			<span ng-if="projectCtrl.state !== 'app.projects-item'"><span ng-bind="project.name"></span></span>
		</h1>
		<div class="project-navigation" ng-if="projectCtrl.viewState !== 'base'">
			<span ng-class="{active: projectCtrl.viewName === item.viewname}" class="nav-item"  ng-repeat="item in menu">
				<a ui-sref="{{item.state}}({tabname:'{{item.tabname}}' })">{{item.title}}</a>
			</span>
		</div>
	</div>
</div>

<div class="row" ng-if="dashboardMode">
	<div class="brick size1of2 minw150 maxw200" ng-if="true">
		<h2 class="banner red head"><span>Последнее</span></h2>
	</div>
	<div class="brick minw1000">
		<pj-tabset vertical="true" class="project-tab">
			<pj-tab ng-repeat="item in menu" state="item.state" class="{{item.tabname}}" active="item.tabname == currentTabName" params="{tabname: item.tabname}" heading="item.title"></pj-tab>
			<pj-tabview>
				<div ng-if="!currentTabName">
					<project-form project="project" mode="view"></project-form>
					<h2 class="banner green"><span>Активность</span></h2>
				</div>
				<ui-view></ui-view>
			</pj-tabview>
		</pj-tabset>
	</div>
</div>

<div class="row size5of6" ng-if="!dashboardMode">
	<ui-view></ui-view>
</div>