<div class="row">
	<div><pj-preview item="item" ng-click="$parent.ctrl.editArtifact(item)" width="75" place-type="auto" max-height="75" expanded="true"></pj-preview></div>&nbsp;
	<div><h2 class="banner light-blue nospace" ng-bind="item.name"></h2></div>
	<div class="info">
		<div class="cathegory" ng-bind="item.type | artifactTypeLocalize"></div>
		<div class="description maxw500" ng-bind="item.description"></div>
	</div>
</div>
<hr>
<pj-tabset class="tab" save-position="true" tab-id="artifact-tab-{{item._id}}">
	<pj-tab heading="'Описание'" active="true">
		<div>
			<text-editor ng-model="item.info" rows="20" is-base64='true' data-options="pjArtifactPageCtrl.editorOptions">
				<text-editor-panel>
					<div class="icon fullscreen" ng-click="pjArtifactPageCtrl.toFullScreen()"></div>
					<button ng-click="pjArtifactPageCtrl.save()">Сохранить</button>
				</text-editor-panel>
			</text-editor>
		</div>
	</pj-tab>
	<pj-tab heading="'Документы'">
		<pj-cathegorized-documents owner="item"></pj-cathegorized-documents>
	</pj-tab>
</pj-tabset>